 body{
    background-image:radial-gradient(circle, #a44f1e, #b8792e, #c7a348, #d2ce6d, #dbf89b);
}
*{
    margin: 0px;
    padding: 0px;
}

.center{
    width: 100%;
    text-align: center;
    border: 1px solid ;
    border-radius: 25px;
    background-color: antiquewhite;
}

.cont{
}
 .h{
     height: 100px;
 }

 .tof{
     height: 80px;
 }
 .proverbe{
    height: 200px;
}
.bout{
    height: 50px;
}
.btn{
    background-color: sandybrown;
}
